span.md-ellipsis {
    font-weight: 600;
    font-size: 1rem;
}

div.md-content {
    max-width: 700px;
}

.md-typeset h1 {
    font-size: 1.45rem;
}

p {
    font-size: .7rem;
}

.md-typeset h3 {
    font-size: 1.1rem;
}

h1 {
    color:#3e5159
}

h2 {
    color: #546d78
}

h3 {
    color: #697f88
}

th, td {
    font-family: Arial
}